body {
    background-color: #fff2cc;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Nova Round', sans-serif;
    color: #890514;
    text-align: center;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#welcome {
    color: #05897a;
    font-weight: bold;
    text-align: center;
    font-family: 'Agdasima', sans-serif;
}

.nova-round-regular {
    font-family: "Nova Round", serif;
    font-weight: 400;
    font-style: normal;
}
  
.agdasima-regular {
    font-family: "Agdasima", serif;
    font-weight: 400;
    font-style: normal;
}
  
.agdasima-bold {
    font-family: "Agdasima", serif;
    font-weight: 700;
    font-style: normal;
}
  