@import url('themes.css');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
    overflow: hidden;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.taskbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--taskbar-background);
    color: var(--taskbar-text-color);
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
}
  
.taskbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.taskbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}
  
.open-programs {
    display: flex;
    gap: 10px;
}

.menu-button {
    background: none;
    border: none;
    color: var(--taskbar-text-color);
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-button img {
    vertical-align: middle;
}

.menu-button:hover {
    transform: scale(1.1);
}

.menu {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 10px;
    width: 250px;
    background: var(--menu-background);
    border: 1px solid var(--menu-border-color);
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(10px);
    opacity: 0;
}

.menu.show {
    display: block;
    transform: translateY(0);
    opacity: 1;
}

.menu button {
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 10px;
    align-items: center;
    gap: 10px;
    text-align: left;
    font-size: 16px;
    background: var(--menu-button-background);
    color: var(--menu-button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

.menu button:hover {
    background: var(--menu-button-hover-background);
    transform: scale(1.05);
}

.divider {
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    margin: 8px 0;
}

.open-programs {
    display: flex;
    gap: 10px;
}

.open-programs img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.open-programs img:hover {
    transform: scale(1.1);
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
    color: var(--text-color);
    margin: 5px; /* gap between icons */
}

.icon {
    width: 60px;
    height: 60px;
    background: var(--icon-background);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon-container:hover {
    transform: scale(1.1);
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 2px; /* space between icon items */
    padding: 25px; /* controls distance from the edge of the desktop */
}

.icon-grid .icon-container {
    position: static;
}

.icon-container p {
    margin: 3px;
    font-size: 14px;
}

.window {
    background: var(--window-background);
    border: 1px solid var(--window-border-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: none;
    width: 90%;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    resize: both;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.window.maximized {
    margin: 0;
    border-radius: 0;
    width: 100% !important;
    height: calc(100% - 40px) !important;
    top: 0 !important;
    left: 0 !important;
}

.window-header {
    background: var(--window-header-background);
    color: var(--window-header-text-color);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.window-header h1 {
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    font-size: 16px;
}

.window-buttons {
    display: flex;
    gap: 5px;
}

.window-buttons button {
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease, transform 0.3s ease;
}

.window-buttons button svg {
    width: 16px;
    height: 16px;
    fill: none;
    stroke: var(--window-header-text-color);
}

.window-buttons button:hover {
    background: rgba(75, 0, 130, 0.2);
    transform: scale(1.1);
}

.window-content {
    padding: 20px;
    overflow-y: auto;
    flex: 1;
}

.content-section {
    margin-bottom: 20px;
}

.content-section h2 {
    font-family: 'Tahoma', sans-serif;
    color: var(--primary-color);
    margin-top: 0;
}

.content-section p {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

.theme-button {
    background: var(--button-background);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    transition: background 0.3s ease;
}

.theme-button:hover {
    background: var(--button-hover);
}

.theme-button img {
    width: 24px;
    height: 24px;
}