/* light theme */
.light-theme {
    --background-color: #F0F0F0;
    --text-color: #2C2C2C;
    --primary-color: #4B0082;
    --secondary-color: #8A56AC;
    --button-background: #4B0082;
    --button-hover: #8A56AC;
    --login-background: #fff;
    --input-background: #fff;
    --input-border: #ccc;
    --login-title-color: #4B0082;
    --header-background: #4B0082;
    --footer-background: #4B0082;

    /* Desktop specific */
    --taskbar-background: #8A56AC;
    --taskbar-text-color: #FFFFFF;
    --menu-background: linear-gradient(to bottom, #e7d8f1, #f5efff);
    --menu-border-color: #B17df8;
    --menu-button-background: #8A56AC;
    --menu-button-hover-background: #7A469C;
    --icon-background: rgba(75, 0, 130, 0.8);
    --icon-text-color: #4B0082;
    --window-background: #FFFFFF;
    --window-border-color: #4B0082;
    --window-header-background: #8A56AC;
    --window-header-text-color: #FFFFFF;
    --desktop-wallpaper: url('../images/light-galaxy-wallpaper.png');
    --scrollbar-track: #f0f0f0;
    --scrollbar-thumb: #c0c0c0;
}

/* dark theme */
.dark-theme {
    --background-color: #1E1E1E;
    --text-color: #E0E0E0;
    --primary-color: #8A56AC;
    --secondary-color: #4B0082;
    --button-background: #8A56AC;
    --button-hover: #4B0082;
    --login-background: #2C2C2C;
    --input-background: #3C3C3C;
    --input-border: #555;
    --login-title-color: #D8BFD8;
    --header-background: #8A56AC;
    --footer-background: #8A56AC;

    /* Desktop specific  */
    --taskbar-background: #4B0082;
    --taskbar-text-color: #FFFFFF;
    --menu-background: linear-gradient(to bottom, #3C3C3C, #2C2C2C);
    --menu-border-color: #555;
    --menu-button-background: #4B0082;
    --menu-button-hover-background: #3C3C3C;
    --icon-background: rgba(138, 86, 172, 0.8);
    --icon-text-color: #fff;
    --window-background: #2C2C2C;
    --window-border-color: #8A56AC;
    --window-header-background: #4B0082;
    --window-header-text-color: #FFFFFF;
    --desktop-wallpaper: url('../images/dark-galaxy-wallpaper.png');
    --scrollbar-track: #2c2c2c;
    --scrollbar-thumb: #555555;
}